{% extends "base.html" %}
{% block head %}
    <title>Reviews for {{pname}}</title>
{% endblock %}

{% block content %}

  <div class="row">
    <h4 style="float:right"><a href="{{prod_url}}">
        <span class="glyphicon glyphicon-share-alt"></span>Click here to return to product {{pname}} </a></h4>
  </div>
   <h2 style="text-align: center;;">Reviews for {{pname}}</h2>

   {% if rlist %}
   <h4>Average rating {{avg_rating}} </h4>

    {% for result in rlist %}
    <hr/>
      <div class="form-group">
        <div class="row">
          <label class="col-md-6  col-lg-6" for="usr">Reviewer: {{result.0}}</label>
          <label class="col-md-6  col-lg-6" for="rating">Rating: {{result.1}}</label>
        </div>
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" readonly="readonly" id="comment">{{result.2}}</textarea>
      </div>
    {% endfor %}
      <div class="row">
        <h4 ><a href="{{prod_url}}">
            <span class="glyphicon glyphicon-share-alt"></span>Click here to return to product {{pname}} </a></h4>
      </div>
    {% else %}
    <h4>None yet</h4>
    {% endif %}

{% endblock %}
